<h1>Orden de venta</h1>
<p *ngIf="!forecasts"><em>Loading...</em></p>
<td><button (click)="Agregar()" class="btn btn-primary">Agregar</button></td>
<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>#Orden</th>
      <th>Direccion.</th>
      <th>Nombre.</th>
      <th>Ciudad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.OrderID }}</td>
      <td>{{ forecast.ShipAddress }}</td>
      <td>{{ forecast.ShipName }}</td>
      <td>{{ forecast.ShipCity }}</td>
      <td><button (click)="eliminar(forecast)" class="btn btn-danger">detalle</button></td>
      <td><button (click)="Editar(forecast)" class="btn btn-warning">edit</button></td>
      <td><button (click)="eliminar(forecast)" class="btn btn-danger">eliminar</button></td>
    </tr>
    
  </tbody>

</table>
